/* Estilos generales para el footer */
.footer {
  width: 100%; /* Asegura que el footer ocupe el 100% del ancho */
  background-color: #0D1F60; 
  padding: 48px 0px; 
  border-top: 5px solid white;
  color: white;
  box-sizing: border-box; 
}

/* Footer container sin max-width */
.footer-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  display: flex; 
  justify-content: space-between; /* O espacio entre los elementos */
  align-items: flex-start; 
  padding: 0 20px; 
  box-sizing: border-box; 
  gap: 30px; /* Espacio entre los elementos */
}

/* Ajusta los elementos internos */
.logoydesc, .footer-menu, .footer-social {
  flex: 1; /* Permite que cada uno ocupe el espacio disponible */
}

/* Logo y descripción */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logoydesc {
  margin-right: 20px; /* Ajusta el valor según sea necesario */
  width: 80%; /* Ancho fijo para pantallas grandes */
}

/* Menú del footer */
.footer-menu, .footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Asegura que el menú ocupe todo el ancho */
}

.footer-menu h3, .footer-social h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.footer-menu ul, .footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li, .footer-social li {
  font-size: 20px;
  font-weight: 400;
}

.footer-menu a, .footer-social a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-menu a:hover, .footer-social a:hover {
  color: #FFCC00;
}

/* Media Query para pantallas menores a 769px */
@media (max-width: 769px) {
  .footer {
    width: 100%;
  }
  
  .footer-container {
    max-width: 100%;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding: 20px; /* Reduce el padding para un mejor ajuste */
  }

  .logoydesc {
    width: 80%; /* Asegura que el logo y descripción ocupen todo el ancho */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio entre el logo y el menú */
  }

  label{
    line-height: 1.2; /* Ajusta el valor según sea necesario */
  }

  .footer-logo {
    justify-content: center; /* Centra el logo y la etiqueta */
    margin-bottom: 20px; /* Espacio adicional si es necesario */
  }

  .footer-menu, .footer-social {
    width: 100%; /* Asegura que el menú y redes sociales ocupen todo el ancho */
    align-items: center; /* Centra los elementos dentro de cada sección */
    text-align: center; /* Centra el texto dentro de los elementos */
  }

  .footer-menu h3, .footer-social h3 {
    font-size: 20px; /* Reduce el tamaño de fuente */
  }

  .footer-menu li, .footer-social li {
    font-size: 16px; /* Reduce el tamaño de fuente */
  }
}

/* Media Query para pantallas entre 769px y 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  .footer {
    width: 100%;
  }
  
  .footer-container {
    width: 100%;
    flex-direction: row; /* Mantiene la dirección del flex en fila */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding: 20px; /* Ajusta el padding para un mejor ajuste */
  }

  .logoydesc {
    margin-right: 20px; /* Ajusta el valor según sea necesario */
    width: 80%; /* Permite que el ancho se ajuste automáticamente */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  label{
    line-height: 1.2; /* Ajusta el valor según sea necesario */
  }

  .footer-menu, .footer-social {
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .footer-menu h3, .footer-social h3 {
    font-size: 22px; /* Tamaño de fuente ajustado */
  }

  .footer-menu li, .footer-social li {
    font-size: 18px; /* Tamaño de fuente ajustado */
  }
}
