.logos-icon {
  width: 43px; /* Ajusta el tamaño según lo que necesites */
  height: 50px; /* Mantiene la proporción del icono */
  object-fit: contain; /* Asegura que el icono no se deforme */
  position: relative;
  top:10px;
  bottom: 45px;
}

.cliente{
    margin-top: 50px; /* Ajusta según la altura de tu header */

    display: flex;
    flex-direction: row;
    justify-content: center; /* Espacio uniforme entre las tarjetas */
    gap:600px; /* Espacio entre las tarjetas */
    align-items: center; /* Centra los elementos horizontalmente */
}

.parte1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no caben en una sola fila */
    gap: 50px; /* Espacio entre las tarjetas */
    padding: 0px; /* Añade un poco de padding para margen interior */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .parte2 {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Espacio uniforme entre las tarjetas */
    gap:800px; /* Espacio entre las tarjetas */
    align-items: center; /* Centra los elementos horizontalmente */
   
  }

.tablita {

    max-width: 300px; /* Ajusta según tus necesidades */
    padding: 10px 50px;
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza los hijos en columna */
    overflow: hidden; /* Si el contenido excede la altura, se oculta */
    align-items: center; /* Centra los elementos horizontalmente */
    
}

.nombre-cliente h2{
font-weight: bold;
}

.cliente-info {
  padding: 50px; /* Espacio interno */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  background: white; /* Fondo blanco */
  margin: 5px; /* Margen exterior */
  width: 300px; /* Ancho ajustado */
  height: 300px; /* Altura ajustada */
}

.info-item p {
  margin: 20px 0px; /* Espaciado superior e inferior */
}


.cara {
  display: flex; /* Asegura que las figuras estén en una fila */
  gap: 20px; /* Espacio entre las figuras */
}

.cara figure{
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  gap: 23px;

  border: none;
  border-radius: 100%; /* Esto hace que el botón sea redondo */
  font-size: 18px;
  text-align: center;
  line-height: 50px; /* Para centrar el contenido verticalmente */
  cursor: pointer;
}
  
  .button-group1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no caben en una sola fila */
    justify-content: space-between; /* Espacio uniforme entre las tarjetas */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Añade un poco de padding para margen interior */
  }
