
.ini-sesion{
    display: flex;
    width: 1280px;
    height: 601px;
    padding: 0px 179px 0px 176px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.inscribete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 34px;
    width: 100%;
    max-width: 413px;
}
.inicio-de-sesion {
    position: relative;
    display: flex;
    align-items: center;
    width: 350px;
}
.clear-icon {
    position: absolute;
    right: 23px; /* Espacio a la derecha del input */
    font-size: 20px;
    cursor: pointer;
    color: #999;
}
.inicio-de-sesion input{
    content: url('img/XIcon.svg'); 
    display: flex;
    width: 350px;
    height: 47px;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    gap: 211px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 50px;
    background:  #FFF;
    font-family: "DM Sans";
    border: 1px solid transparent; /* Borde transparente */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    outline: none; /* Elimina el borde azul al hacer clic */
    
}
.inicio-de-sesion input:focus {
    border-color: transparent; /* Mantener el borde transparente al enfocar */
}