/* Estilos generales */
meet h1  {
  font-size: 56px;
  color: black;
  margin-bottom: 20px;
}

.frame {
  margin-top: 100px; /* revisar */
  width: 900px;
  height: 700px;
  margin: 50px; /* Centra el contenedor en la página */
  padding: 0,px 100px;
  background: linear-gradient(180deg, #C4C4C4 10%, #7D8AD0 60%, #162B95 100%);
  border-radius: 135px;
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Organiza los hijos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

.meet {
  margin: 120px; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro de meet */
  margin-bottom: 30px;

}

.satisfaccion-caras-opciones {
  display: flex;
  margin-bottom: 100px;
  font-size: 24px;
  color: #0D0B0B;
  text-align: center; /* Centra el texto del párrafo */
  flex-direction: row; /* Organiza los hijos en columna */
  padding: 5px; /* Añade un poco de padding para margen interior */
}


/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  max-width: 300px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cara {
display: flex; /* Asegura que las figuras estén en una fila */
gap: 20px; /* Espacio entre las figuras */
}

.cara figure{
justify-content: space-between;
flex-direction: row;
align-items: center;
margin: 0 auto;
gap: 23px;
border: none;
border-radius: 100%; /* Esto hace que el botón sea redondo */
font-size: 18px;
text-align: center;
line-height: 00px; /* Para centrar el contenido verticalmente */
cursor: pointer;
}


/* Media queries */

/* Pantallas de hasta 1025px */
@media (max-width: 1025px) {

  .frame {
    width: 595px;
    height: 495px;
    border-radius: 100px;
    margin: 50px;

  }

  h1 {
    font-size: 40px;
  }

  .meet {
  margin: 20px; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro de meet */
  margin-bottom: 0px;
  }

  .emoji-satisfaction {
    width: 60px;
    height: 60px;
  }
  .satisfaccion-caras-opciones {
    display: flex;
    margin-bottom: 40px;
    text-align: center; /* Centra el texto del párrafo */
    flex-direction: row; /* Organiza los hijos en columna */
    padding: 5px; /* Añade un poco de padding para margen interior */
  }
  
 
  .button {
    font-size: 16px;
    padding: 15px 12px;
  }
}

@media (max-width: 768px) {
  .frame {
    width: 450px;
    height: 450px;
    border-radius: 100px;
    margin: 50px 50px;
  }

  h1 {
    font-size: 40px;
  }

  .meet {
  margin: 20px; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro de meet */
  margin-bottom: 0px;
  }

  .emoji-satisfaction {
    width: 60px;
    height: 60px;
  }
  .satisfaccion-caras-opciones {
    display: flex;
    margin-bottom: 40px;
    text-align: center; /* Centra el texto del párrafo */
    flex-direction: row; /* Organiza los hijos en columna */
    padding: 5px; /* Añade un poco de padding para margen interior */
  }
  
 
  .button {
    font-size: 16px;
    padding: 15px 12px;
  }
}


/* Pantallas de hasta 431px */
@media (max-width: 480px) {
  .frame {
    width: 350px;
    height: 380px;
    border-radius: 100px;
    text-align: center; /* Centra el texto dentro de meet */
    margin: 50px 50px;
  }

  .meet h1 {
    font-size: 40px;
  }

  p{
    font-size: 10px;
  }

  .emoji-satisfaction {
    width: 35px;
    height: 35px;
  }

  .satisfaccion-caras-opciones {
    display: flex;
    margin-bottom: 20px;
    text-align: center; /* Centra el texto del párrafo */
    flex-direction: row; /* Organiza los hijos en columna */
    padding: 5px; /* Añade un poco de padding para margen interior */
  }

  .button {
    font-size: 10px;
    padding: 6px 12px;
  }
}

/* Pantallas de hasta 431px */
@media (max-width: 431px) {
  .frame {
    width: 250px;
    height: 380px;
    border-radius: 100px;
    text-align: center; /* Centra el texto dentro de meet */
    margin: 50px 50px;
  }

  .meet h1 {
    font-size: 30px;
  }

  p{
    font-size: 10px;
  }

  .emoji-satisfaction {
    width: 25px;
    height: 25px;
  }

  .satisfaccion-caras-opciones {
    display: flex;
    margin-bottom: 20px;
    text-align: center; /* Centra el texto del párrafo */
    flex-direction: row; /* Organiza los hijos en columna */
    padding: 5px; /* Añade un poco de padding para margen interior */
  }

  .button {
    font-size: 10px;
    padding: 6px 12px;
  }
}

