body {
  font-family: 'Montserrat', sans-serif;
  background: var(--Ligth-Blue, #DAE2FF); /* Forzar que este fondo se aplique */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina cualquier padding adicional */
  box-sizing: border-box; /* Asegura que padding y bordes se comporten bien */
}
:root {
    --h-1-font-family: "Montserrat", Helvetica;
    --h-1-font-weight: 700;
    --h-1-font-size: 56px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: 66px;
    --h-1-font-style: normal;
    
    --h-2-font-family: "Montserrat", Helvetica;
    --h-2-font-weight: 400;
    --h-2-font-size: 18px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 30px;
    --h-2-font-style: normal;
    
    --h-3-font-family: "Montserrat", Helvetica;
    --h-3-font-weight: 500;
    --h-3-font-size: 16px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 18px;
    --h-3-font-style: normal;
    
    --h-4-font-family: "Montserrat", Helvetica;
    --h-4-font-weight: 700;
    --h-4-font-size: 18px;
    --h-4-letter-spacing: 0px;
    --h-4-line-height: 18px;
    --h-4-font-style: normal;
    
    --h-5-font-family: "DM Sans", Helvetica;
    --h-5-font-weight: 400;
    --h-5-font-size: 18px;
    --h-5-letter-spacing: 0px;
    --h-5-line-height: 18px;
    --h-5-font-style: normal;
    
    --h-6-font-family: "Montserrat", Helvetica;
    --h-6-font-weight: 900;
    --h-6-font-size: 25px;
    --h-6-letter-spacing: 1.75px;
    --h-6-line-height: normal;
    --h-6-font-style: normal;
  }
  
  h1 {
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
  }
  
  h2 {
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  h3 {
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
  }
  
  h4 {
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
  }
  
  h5 {
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    font-size: var(--h-5-font-size);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    font-style: var(--h-5-font-style);
  }
  
  h6 {
    font-family: var(--h-6-font-family);
    font-weight: var(--h-6-font-weight);
    font-size: var(--h-6-font-size);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    font-style: var(--h-6-font-style);
  }

  .button_flecha {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    border-radius: 30px;
    border: 1px solid var(--Black, #000);
    background: var(--White, #FFF);
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Ajusta la separación entre el texto y la flecha */
    cursor: pointer;
}

.button_flecha:hover {
    background-color: #FCD23B;
}

.button{
  
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
  border-radius: 30px;
  border: 1px solid var(--Black, #000);
  background: var(--White, #FFF);
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover{
  color: #FFF;
  background-color: #000;
}


.logo-container {
  width: 50px; /* Ajusta este valor según sea necesario */
  height: 50px; /* Ajusta este valor según sea necesario */
  overflow: hidden; /* Asegura que no se desborde */
}

.logo-container img {
  width: 90%;
  height: 50%;
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}