.cronometro {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center; /* Centra los elementos horizontalmente */
}

.tiempo {
    font-size: 48px;
    font-weight: bold;
}

.controles {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    color: white;
}