.routine-header {
    display:flex;
    padding: 0px 100px;
    flex-direction: column;
    gap: 45px;
    justify-content: center; /* Centra el video */
}  
    

.logos-icon {
    width: 43px; /* Ajusta el tamaño según lo que necesites */
    height: 50px; /* Mantiene la proporción del icono */
    object-fit: contain; /* Asegura que el icono no se deforme */
    position: relative;
    top:10px;
    bottom: 45px;
  }

.Titulo h1  {
    font-size: 56px;
    color: black;
    margin-bottom: 10px;
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza los hijos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}
.Titulo   {
    margin-bottom: 10px;
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza los hijos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra los textos */
}

.exercise{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Espacio uniforme entre las tarjetas */
        gap: 30px; /* Espacio entre las tarjetas */
        padding: 10px; /* Añade un poco de padding para margen interior */   
        align-items: center; /* Centra los elementos horizontalmente */
}

.exercise-details h2 {
    font-weight: bold;
}

.exercise-actions{
        display: flex;
        gap: 20px; /* Espacio entre las tarjetas */
        padding: 10px; /* Añade un poco de padding para margen interior */    
}

.button{ 
    color: black;
}

.ejercicios{
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no caben en una sola fila */
    justify-content: space-between; /* Espacio uniforme entre las tarjetas */
    gap: 100px; /* Espacio entre las tarjetas */
    padding: 10px; /* Añade un poco de padding para margen interior */
}

.modal{
    display:none;
    margin-top: 100px;
    width: 372px;
    height: 146px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(180deg, #C4C4C4 10%, #7D8AD0 60%, #162B95 100%);
  }
  .modal-content{
    display: flex;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    text-align: center; /* Añadido para centrar el texto */
  }

  .modal-content button{
    display: flex;
   margin-top: 10px;
  }

  .cronometro {
    display:none;
    margin-top: 100px;
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center; /* Centra los elementos horizontalmente */
}

.tiempo {
    font-size: 48px;
    font-weight: bold;
}

.controles {
    display: flex;
    gap: 150px;
    margin-top: 20px;
}

.boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Estilos para el video */
.video-container video {
    width: 500px;
    height: 350px;
}

.exerciseVenta{
        display: none;
        flex-direction: row;
        justify-content: space-between; /* Espacio uniforme entre las tarjetas */
        gap: 30px; /* Espacio entre las tarjetas */
        padding: 10px; /* Añade un poco de padding para margen interior */   
        align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para pantallas de 1025px */
@media screen and (max-width: 1025px) {
    .routine-header {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        gap: 0px;
        width: 100%; /* Ocupa todo el ancho disponible */
        justify-content: center; /* Centra el video */
    }
    .logos-icon {
       
        margin-left: 20px; /* Añade espacio si es necesario */
    }


    .exercise {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        margin-left: 2px; /* Añade espacio si es necesario */
        gap: 20px;
        padding: 5px;
        width: 100%;
    }

    .exerciseVenta{
        display: none;
        flex-direction: column;
        align-items: center; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        margin-left: 2px; /* Añade espacio si es necesario */
        gap: 20px;
        padding: 5px;
        width: 100%;
    }

    .ejercicios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no caben en una sola fila */
        gap: 50px; /* Espacio entre las tarjetas */
        padding: 10px; /* Añade un poco de padding para margen interior */
    }

    .boton {
        width: 45px;
        height: 45px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center; /* Asegura que los íconos estén centrados */
    }
    .video-container {
        padding-bottom: 350px; /* Ajusta la relación de aspecto si es necesario */
        display: flex;
        justify-content: center; /* Centra el video */
    }

    .video-container video {
        position: absolute;
        width: 420px;
        height: 330px;
    }
}

/* Estilos para pantallas de 431px */
@media screen and (max-width: 431px) {
    .routine-header {
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        gap: 0px;
        margin: 0px;
        justify-content: center; /* Centra el video */
    }
    .logos-icon {
       
        margin-left: 20px; /* Añade espacio si es necesario */
    }

    .exercise {
        display: flex;
        align-items: center; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        padding: 5px;

    }

    .exerciseVenta {
        display: none;
        align-items: center; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        padding: 5px;

    }
    .ejercicios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no caben en una sola fila */
        gap: 50px; /* Espacio entre las tarjetas */

    }

    .boton {
        width: 45px;
        height: 45px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center; /* Asegura que los íconos estén centrados */
    }

    .exercise-video {

        display: flex;
        justify-content: center; /* Centra el video */
    }

    .video-container {
        padding-bottom: 250px; /* Ajusta la relación de aspecto si es necesario */
        display: flex;
        justify-content: center; /* Centra el video */
    }

    .video-container video {
        position: absolute;
        width: 350px;
        height: 230px;
    }
}


