body{
    margin-top: 60px;
}
.hero {
    width: 100vw;
    aspect-ratio: 16/10;
    position: relative;
    overflow: hidden;
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
}

.hero-image-container {
    aspect-ratio: 16/10;
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    position: absolute;
    width: 100%;
    animation: slide 36s infinite; /* Cambia cada 10 segundos */
    overflow: hidden; /* Asegura que no haya desbordamiento */

}
.hero-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Cambia el ancho según necesites */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1; /* Asegura que el degradado esté encima de la imagen */
}

.hero-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.hero-image:nth-child(1) { animation: fade 40s infinite; }
.hero-image:nth-child(2) { animation: fade 40s infinite 9s; }
.hero-image:nth-child(3) { animation: fade 40s infinite 18s; }
.hero-image:nth-child(4) { animation: fade 40s infinite 27s; }

@keyframes fade {
    0%, 20% { opacity: 1; }
    25%, 95% { opacity: 0; }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

.content:nth-child(1) { animation: contentFade 40s infinite; }
.content:nth-child(2) { animation: contentFade 40s infinite 9s; }
.content:nth-child(3) { animation: contentFade 40s infinite 18s; }
.content:nth-child(4) { animation: contentFade 40s infinite 27s; }

@keyframes contentFade {
    0%, 20% { opacity: 1; }
    25%, 95% { opacity: 0; }
}

.hero-content {
    width: 300px;
    z-index: 2;
    text-align: center; /* Centrar el texto */
    color: white; /* Asegúrate de que el texto sea visible */
    padding: 20px; /* Espaciado */
    position: absolute;
    top: 35%; /* Centra verticalmente */
    left: 20%; /* Mueve un poco a la izquierda, ajusta según sea necesario */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente realmente */
    font-family: 'Montserrat', sans-serif;

}




.features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
    background-color: #1F1F1F;
    box-sizing: border-box;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 200px; /* Espacio entre los elementos */
}

.feature-item {
    color: #FCD23B;
    text-align: justify;
}

.feature-item h1 {
    color: #FCD23B;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
}

.feature-item p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 1.5; /* Espaciado entre líneas */
}


.why-us {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    padding: 0 260px; /* Espaciado a los lados */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.why-us img {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo */
    max-width: 600px; /* Limita el ancho máximo si es necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    
}

.why-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 48px;
}

.why-us h2 {
    text-align: center;
    color: black;
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 66px;
    margin: 100px 0 0 0;
}

.titulo.why-us{
    text-align: center;
    color: #0D0B0B;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}

.benefit-item {
    width: 345px;
    display: flex;
    flex-direction: column;
    color: black;
}

.benefit-item h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
}

.benefit-item p {
    width: 300px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

/* Imágenes en la sección */
.why-us img {
    justify-content: center;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    max-height: 400px;
    object-fit: cover;
}

.trainers {
    justify-content: space-evenly;
    max-width: 100%; /* O el ancho deseado */
    margin: 0 auto; /* Centra la sección en la página */
    padding: 38px; /* Espacio en la parte superior e inferior y 24px a los lados */
    text-align: center; /* Alinea el texto al centro */
    box-sizing: border-box;
}

.trainers h2 {
    color: black;
    font-size: 56px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 66px;
    opacity: 0.90; /* Opacidad */
    margin-bottom: 0px; /* Espacio debajo del título */
}

.trainers p {
    width: 100%; /* Permitir que ocupe todo el ancho disponible */
    max-width: 562px; /* Ancho máximo para mantener la legibilidad */
    color: #FFFFFF;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 20;
    line-height: 30px;
    margin: 0 auto 30px; /* Centrado horizontal y espacio debajo */
    text-align: center; /* Centra el texto dentro del párrafo */
    margin-top: 0;
}

.titulo.trainers {
    color: black; /* Cambia el color del texto a negro */
}


.trainer-cards {
    display: flex;
    justify-content:space-evenly;
    padding: 0 148px; /* Espaciado a los lados */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.trainer-card {
    position: relative;
    overflow: hidden;
}

.trainer-card img {
    width: 292px; /* Ajusta según sea necesario */
    height: 395px; /* Ajusta según sea necesario */
    transition: filter 0.3s ease;
}

.trainer-card:hover img {
    filter: blur(5px);
}

.trainer-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    gap: 30px;
}

.trainer-info h3 {
    font-weight: bold; /* Asegúrate de que sea negrita */
    font-size: 20px; /* Ajusta el tamaño según lo desees */
    margin: 0; /* Elimina márgenes si es necesario */
}


.trainer-card:hover .trainer-info {
    opacity: 1;
}


.join-us {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content:space-evenly; /* Centra horizontalmente */
    gap: 40px; /* Espacio entre el texto y la imagen */
    width: 100%; /* Asegura que ocupe el 100% del ancho */
    margin: 0 auto 38px auto; /* Centra la sección horizontalmente */
    padding: 0 160px; /* Espaciado a los lados */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.join-content {
    max-width: 500px; /* Limita el ancho del texto */
    width: 100%; /* Asegura que ocupe todo el ancho permitido */
    text-align: left; /* Alineación del texto a la izquierda */
}


.join-us h2 {
    font-size: 56px; /* Tamaño por defecto */
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 66px;
    margin: 0 0 20px; /* Espacio debajo del título */
}

.join-us p {
    font-size: 24px; /* Tamaño por defecto */
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8; /* Menos opacidad para un efecto suave */
    margin: 0; /* Elimina el margen */
}

.join-us img {
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    max-width: 100%; /* Ajustar la imagen al contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
}

/* Media Queries para Responsividad */

/* Dispositivos menores a 769 px */
@media (max-width: 769px) {
    
    .hero-content {
        display: flex;
        align-items: center;
        left: 0; /* Centrar horizontalmente */
        top: 20%; /* Ajustar posición vertical */
        width: 70%; /* Ampliar el ancho */
        padding: 10px; /* Reducir el espaciado */
        font-size: 14px; /* Ajustar tamaño de fuente */
        margin-left: 30px;
        
    }

    .hero-content h1{
        font-size: 28px; /* Ajustar tamaño de fuente */

    }

    .features ul {
        flex-direction: column; /* Cambiar a columna */
        align-items: center; /* Centrar elementos */
        gap: 20px; /* Reducir espacio entre elementos */
    }

    .feature-item {
        text-align: center; /* Centrar texto */
    }

    .why-us {
        padding: 0 30px;
    }
    .why-us h2 {
        font-size: 36px; /* Reducir tamaño de fuente */
        line-height: 44px; /* Ajustar espaciado */
        margin: 60px 0 0 0; /* Espacio superior */
    }

    .titulo.why-us {
        padding: 0;
        font-size: 20px; /* Reducir tamaño de fuente */
    }

    .why-content {
        flex-direction: column; /* Cambiar a columna */
        align-items: center; /* Centrar contenido */
        gap: 20px; /* Reducir espacio entre elementos */
        margin: 40px 0 0 0; /* Espacio superior */
    }

    .benefit-item {
        max-width: 90%; /* Asegurar que no exceda el ancho en dispositivos pequeños */
    }

    .benefit-item {
        width: 100%; /* Ampliar el ancho */
        text-align: center; /* Centrar texto */
    }

    .trainers{
        padding: 0;
    }
    .trainers h2{
        font-size: 36px; /* Reducir tamaño de fuente */
    }
    .trainers p{
        padding: 10px 20px;
    }

    .trainer-cards {
        flex-direction: column; /* Cambiar a columna */
        align-items: center; /* Centrar tarjetas */
    }

    .trainer-card {
        margin-bottom: 20px; /* Espacio entre tarjetas */
        
    }
    .trainer-card img{
        width: 80%;
        height: 80%;
    }

    .join-us {
        display:flex;
        flex-direction: column; /* Cambiar a columna */
        padding: 80px; /* Ajustar espaciado */
        box-sizing: border-box; /* Incluye padding en el ancho total */
        align-items: center; /* Centrar horizontalmente */
        justify-content: center; /* Centrar verticalmente si es necesario */
    }

    .join-content{
        max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
        padding: 0; /* Sin espaciado lateral */
        order: 1;
    }

    .join-us h2 {
        display: flex;
        font-size: 36px; /* Reducir tamaño de fuente */
        align-items: center; /* Centrar horizontalmente */
        justify-content: center; /* Centrar verticalmente si es necesario */
    }

    .join-us p {
        font-size: 18px; /* Reducir tamaño de fuente */
        line-height: 24px; /* Ajustar espaciado */
    }

    .join-us img {
        width: 100%; /* Ajustar imagen al ancho */
        order: 2;
    }
}

/* Dispositivos entre 769 px y 1024 px */
@media (min-width: 769px) and (max-width: 1023px) {
    
    .hero-content {
        left: 10%; /* Mover ligeramente a la izquierda */
        top: 30%; /* Ajustar posición vertical */
        width: 80%; /* Ajustar ancho */
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    .features {
        flex-direction: column; /* Cambiar a columna */
        padding: 20px 0 20px 0; /* Ajusta el padding si es necesario */
    }

    .features ul {
        width: 100%; /* Asegura que ocupe el ancho completo */
        flex-direction: column; /* Cambia a columna para la lista */
        align-items: center; /* Centra los elementos de la lista */
        gap: 20px; /* Espacio entre elementos de la lista */
        list-style: none; /* Opcional: elimina los estilos de lista */
    }

    .feature-item {
        text-align: center; /* Centra el texto de los elementos */
        width: 100%; /* Asegura que ocupen el ancho completo */
        max-width: 400px; /* Limita el ancho máximo */
        margin: 0 auto; /* Centra el item */
    }
    .why-us {
        padding: 0 30px;
    }

    .why-us h2 {
        font-size: 36px; /* Reducir tamaño de fuente */
        line-height: 44px; /* Ajustar espaciado */
        margin: 60px 0 0 0;    }
    .why-us h3 {
        line-height:1.2; /* Ajustar espaciado */
    }

    .titulo.why-us {
        font-size: 20px; /* Reducir tamaño de fuente */
    }

    .why-content {
        flex-direction: column; /* Cambiar a columna */
        align-items: center; /* Centrar contenido */
        gap: 20px; /* Reducir espacio entre elementos */
    }

    .benefit-item {
        max-width: 45%; /* Ajustar ancho de beneficios en pantallas medianas */
    }

    .trainer-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Espaciado de tarjetas */
        align-items: center;
    }

    .trainer-card {
        width: 45%; /* Ajustar el ancho de las tarjetas */
        margin-bottom: 20px; /* Espacio entre tarjetas */
    }


    .join-us {
        flex-direction: column; /* Cambia a columna */
        width: 100%; /* Asegura que ocupe el 100% del ancho */
        padding: 50px 0 0 0;
    }
    
    .join-content {
        position: relative; /* Cambia a relativo para evitar conflictos de posición */
        max-width: 500px; /* Limita el ancho del texto */
        text-align: center; /* Centra el texto */
        z-index: 2; /* Asegura que esté por encima de la imagen */
    }
    
    .join-us img {
        width: 100%; /* Asegura que la imagen ocupe el ancho completo */
        max-height: 300px; /* Ajusta la altura máxima si es necesario */
        max-width: 400px;
        object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
    }
    
    .join-us h2 {
        font-size: 48px; /* Reducir tamaño de fuente */
    }

    .join-us p {
        font-size: 20px; /* Reducir tamaño de fuente */
        line-height: 28px; /* Ajustar espaciado */
    }
}
