/* General Styles */
.logos-icon {
  width: 43px; /* Ajusta el tamaño según lo que necesites */
  height: 50px; /* Mantiene la proporción del icono */
  object-fit: contain; /* Asegura que el icono no se deforme */
  position: relative;
  top:10px;
  bottom: 45px;
}

.parte1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.tablita {
  max-width: 300px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cliente-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.info-item p {
  margin: 10px 0;
}

.cara {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button-group1 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nombre-cliente h2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.cara figure img {
  width: 70px;
  height: 70px;
}



/* Responsive for 1025px */
@media (max-width: 1025px) {
  .cliente {
    flex-direction: row;
    gap: 250px;
  }

  .parte1 {
    flex-direction: column;
    gap: 30px;
  }

  .tablita {
    max-width: 280px;
  }

  .cliente-info {
    height: 280px;
  }

  .button-group1 {
    justify-content: center;
  }

  .cara figure img {
    width: 50px;
  }
}

/* Responsive for 431px */
@media (max-width: 431px) {
  .cliente {
    flex-direction: row;
    gap: 200px;
  }

  
  .parte1 {
    flex-direction: column;
    gap: 20px;
  }

  .tablita {
    max-width: 240px;
  }

  .cliente-info {
    height: 260px;
  }

  .button-group1 {

    justify-content: center;
    flex-direction: row;
  }

  .cara figure img {
    width: 40px;
    height: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

