
.ini-sesion {
    display: flex;
    width: 1280px;
    height: 601px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* Contenedor de inscripción */
.inscribete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px; 
    height: auto; 
    gap: 34px;
    padding: 20px;
    box-sizing: border-box; 
}
/* Estilo general para los inputs */
.inicio-de-sesion input {
    width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
    max-width: 100%; /* Asegura que no tenga restricciones de tamaño */
    height: 47px; 
    padding: 0 50px 0 23px; /* Asegura espacio para el icono */
    border-radius: 50px;
    background-color: #FFF;
    font-family: "DM Sans", sans-serif; 
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}


.inicio-de-sesion {
    width: 100%; /* El contenedor ocupa todo el ancho disponible */
    height: 100%; /* O puedes definir una altura específica si lo prefieres */
    display: flex;
    align-items: center; /* Centra el input verticalmente */
    justify-content: center; /* Opcional: Centra el input horizontalmente */
    box-sizing: border-box;
}

/* Mantener el borde transparente cuando el input esté enfocado */
.inicio-de-sesion input:focus {
    border-color: transparent;
}

@media screen and (max-width: 1025px) {

    .inicio-img img{
        width: 100%;
        height: 507px;
        object-fit: cover;
    }
    .ini-sesion {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 34px;
        flex-shrink: 0;
    }

    .inscribete {
        display: grid;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        text-align: center;
        row-gap: 34px;
    }

    .inicio-de-sesion input {
    display: flex;
    height: 47px;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    gap: 211px;
    flex-shrink: 0;
    align-self: stretch;
    }
}

@media screen and (max-width: 431px) {

    h1{
        font-size: 48px;
    }


    .inicio-img img{
        width: 100%;
        height: 507px;
        object-fit: cover;
    }
    .ini-sesion {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;
        flex-shrink: 0;
    }

    .inscribete {
        display: grid;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        text-align: center;
        row-gap: 34px;
    }

    .inicio-de-sesion input {
        display: flex;
        height: 47px;
        padding: 0px 23px;
        justify-content: center;
        align-items: center;
        gap: 211px;
        flex-shrink: 0;
        align-self: stretch;
    }
}
