
.Registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.formulario, form {
    display: flex;
    width: 1267px;
    padding: 10px 0px 48px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 39px;
    flex-wrap: wrap;
    flex-direction: row;
}

.columnas-editar {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.columnas-datos {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
}
.columna {
    display: flex;
    width: 246px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"]{
    display: flex;
    width: 236px; /* Establecer ancho  */
    height: 72px; /* Establecer altura */
    padding: 27px 24px; /* Ajusta el padding  */
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    /* Estilos de diseño */
    border-radius: 50px;
    background: #FFF; 
    border: 1px solid transparent;
    font-family: 'DM Sans', sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #999; 
    
    
    box-sizing: border-box; /* Asegura que padding y bordes estén incluidos en el tamaño */
    width: 100%; /* Para que ocupe todo el espacio disponible dentro de su contenedor */
}
/* Cambiar color del texto a negro cuando se ingresa texto  */
input:focus,
input:not(:placeholder-shown),
select:focus,
select:not(:placeholder-shown) {
    color: #000; /* Cambiar el texto a negro */
}
/* LABEL */
.columnas-editar label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: black;
}
.button-sobre-imagen {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.imagen-perfil {
    position: relative;
    display: inline-block;
}
.button-centrado {
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    width: fit-content; /* Ajusta el tamaño del botón al contenido */
}

.identificacion::-webkit-outer-spin-button,
.identificacion::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#previewImagen {
    width: 100%; /* Por defecto, ocupa todo el ancho disponible */
    max-width: 500px; /* Límite máximo del ancho */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    border: 2px solid #ccc; /* Agrega un borde sutil */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    transition: transform 0.3s ease; /* Efecto suave en el hover */
}

#previewImagen:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
}

@media (max-width: 1440px) {

    .imagen-perfil img {
        width: 390px;
        height: 390px;
        object-fit: cover;
    }
    .imagen-perfil button {
        font-size: 18px;
    }
    .Registro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .formulario, form {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        box-sizing: border-box;
    }

    .columnas-editar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 0 2%;
        box-sizing: border-box;
        width: auto; /* Permite que el ancho se adapte a los hijos */
    }
    

    .columnas-datos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        width: 80%;
        box-sizing: border-box;
    }
    input:focus,
    input:not(:placeholder-shown),
    select:focus,
    select:not(:placeholder-shown) {
    color: #000; /* Cambiar el texto a negro */
    
    
}
#previewImagen {
    max-width: 450px; /* Reduce el tamaño máximo para pantallas medianas */
}

}


@media (max-width: 768px) {
    .imagen-perfil img {
        width: 340px;
        height: 340px;
        object-fit: cover;
    }
    .imagen-perfil button {
        font-size: 15px;
    }
    .Registro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .formulario, form {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 80%; /* Ocupa el 80% del ancho disponible */
        box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    }

    .columnas-editar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 90%; /* Ocupa el 90% del ancho disponible */
        padding: 0 5%;
        box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    }

    .columnas-datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 90%;
        box-sizing: border-box;
    }
    input:focus,
    input:not(:placeholder-shown),
    select:focus,
    select:not(:placeholder-shown) {
    color: #000; /* Cambiar el texto a negro */
}
#previewImagen {
    max-width: 300px; /* Reduce el tamaño máximo para pantallas medianas */
}
}
  
@media (max-width: 480px) { 
    .imagen-perfil img {
        width: 290px;
        height: 290px;
        object-fit: cover;
    }
    .imagen-perfil button{
        font-size: 13px;
    }
    .Registro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .formulario, form {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 100%; /* Ocupa todo el ancho disponible */
        box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    }

    .columnas-editar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 0 10%;
        box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    }

    .columnas-datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    button:focus,
    input:focus {
    outline: 2px solid #000; /* Cambia el borde de enfoque por uno más sutil */
    }
     #previewImagen {
        max-width: 200px; /* Reduce el tamaño máximo para pantallas pequeñas */
    }

}