
.ini-sesion {
    display: flex;
    width: 1280px;
    height: 601px;
    padding: 0px 179px 0px 176px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* Contenedor de inscripción */
.inscribete {
    display: flex;
    width: 413px;
    height: 335px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-shrink: 0;
}

/* Estilo general para los inputs */
.inicio-de-sesion input {
    position: relative;
    display: block;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 413px; /* Ajusta si es necesario */
    height: 47px;
    padding: 0px 50px 0px 23px; /* Asegura espacio para el icono (50px a la derecha) */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background:  #FFF;
    font-family: "DM Sans";
    border: 1px solid transparent; /* Borde transparente */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    outline: none; /* Elimina el borde azul al hacer clic */
    box-sizing: border-box; /* Asegura que padding y border no desborden el contenedor */
}

/* Mantener el borde transparente cuando el input esté enfocado */
.inicio-de-sesion input:focus {
    border-color: transparent;
}
